<html>
  <head>
    <meta charset="UTF-8" />
    <title>Histogramme des temperatures</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  
    <script>
      google.charts.load('current', { packages: ['corechart'] });
      google.charts.setOnLoadCallback(drawBackgroundColor);
     function drawBackgroundColor() {
    function drawChart(data) {
      
    // Convertir les données récupérées en un tableau utilisable par Google Charts
    var dataTable = new google.visualization.DataTable();
    dataTable.addColumn('string', 'Date');
    dataTable.addColumn('number', 'Valeur');
    data.results.forEach(entry => {
      var date = new Date(entry.Jour * 1000);
      dataTable.addRow([date.toLocaleDateString(), entry.temp]);
    });
      
    // Configurer les options de l'histogramme
    var options = {
      title: 'Histogramme des températures de Tawarano',
      legend: { position: 'none' },
      hAxis: { title: 'Date' },
      vAxis: { title: 'Temperature (°C)' },
      bar: { groupWidth: '80%' },
    };

      // Dessiner l'histogramme
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
       
  // Récupération de données depuis notre API /tawarano/
  fetch('/tawarano/')
    .then(response => response.json())
    .then(data => {
      drawChart(data);
    })
}
    </script>
  <body>
    <h2>Histogramme des températures de la ville de Tawarano</h2>
    <div id="columnchart_values" style="width: 900px; height: 500px;"></div>
  </body>
</html>
